<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Sample back-end application made with Postman in order to rapidly test references in Mongoose.</p>
  </body>
</html>
